#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: left;
}


.entry {
  overflow:hidden;
}
.entry .edit-btn,
.entry .delete-btn {
  color: transparent;
  transition: color 0.3s;
}

.entry:hover .edit-btn,
.entry:hover .delete-btn {
  color: inherit; 
} 

.entry:hover .edit-btn:hover {
  @apply bg-slate-900;
  @apply rounded;
}

.entry:hover .delete-btn:hover {
  @apply bg-red-900;
  @apply rounded;
}

.chat-card .card-delete {
  color: transparent;
  background-color: transparent;
  transition: color 0.3s;
}

.chat-card:hover .card-delete {
  color: inherit;
}

.chat-card:hover .card-delete:hover {
  color: red;
}


@keyframes left-in {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.sidebar-left-in {
  animation: left-in 300ms forwards;
}

.sidebar-left-out {
  animation: left-out 300ms forwards;
}

.highlight {
  background: linear-gradient(to right, rgba(15, 23, 42, 0.2), rgba(30, 41, 59, 0.2));
  transition: background 0.5s ease;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}