# Ignore node_modules in the client directory
/client/node_modules/

# Ignore node_modules in the server directory
/server/node_modules/

# Ignore .env file
/server/.env
/client/.env

# Ignore built folder
/server/dist/
/client/src/graphql/generated/
/client/schema.graphql

# Ignore .vscode settting
.vscode

# Ignore lock files 
/server/package-lock.json
/server/yarn.lock
/client/package-lock.json
/client/yarn.lock